.banner{
    text-align: center;
    background-image: url('../assets/Hero-bg.png');
}

.btn-banner{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
background-color: black;
}
.section-1{
    background-color: rgb(223, 242, 243);
}

.main-1{
    text-align: center;
}
.main-2{
    display: flex;
}
.main-3{
   display: flex;
}
.section-2{
  text-align: center;
}
.section-3{
    background-image: url('../assets/handshake.jpg');
}
.footer{
   display: flex;
}
